{% extends 'layouts/base.html.twig' %}

{% block body %}
    {% if id is defined %}
        <div id="root" data-id="{{id}}"></div>
    {% else %}
        <div id="root"></div>
    {% endif %}
{% endblock %}
