<div class="row flex-column flex-sm-row bg-info align-items-start p-sm-5 p-2 align-center my-2 mx-1 mx-sm-0">
{{ form_label((formField), (labelName), {'label_attr': {'class': 'align-self-center mb-0 col-sm-2 col-3'}}) }}
{{ form_widget((formField), {'attr': {'class': 'col'}}) }}
</div>