<header>
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <img class="col col-sm-2 my-1 bear" src="{{asset('images/bear_hello.jpg')}}" alt="bear say welcome">
            <h1 class="col text-uppercase text-center">adm</h1>
            <a class="col col-sm-2 col-lg-1 btn btn-info btn-sm mx-3" href="{{ path('app_login') }}" >Connexion</a>
        </div>
    </div>
</header>