.animal-card {
    box-shadow: 1px 1px 3px white;
    width: 390px;
    height: 390px;
    background-color: var(--bs-secondary);
    text-decoration: none;
    &:hover {
        color: white;
    }
}

.one-card {
    h1 {
        font-size: 5rem;
    }
    p {
        font-size: 3rem;
    }
    div {
        h2 {
            margin-left: 1rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}