.card-list {
    ul {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .no_result {
        height: 100vh;
    }
}
.btn-action {
    button {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }
}

.loading {
    height: 100vh;
}