.simple-research,
.full-research {
    text-align: left;
    label {
        display: block;
        margin-bottom: 0.5rem;
    }
    button {
        margin-top: 0.5rem;
    }
}

.edition {
    height: 100vh;
}