@mixin actual {
    color: var(--bs-info);
    background-color: var(--bs-white);
}

header {
    background-color: var(--bs-blue);
    .bear {
        border-radius: 50%;
        object-fit: contain;
    }
    // remove link and image for little phone in header
    .bear-link {
        @include little-phone {
            display: none;
        }
    }
    .btn {
        color: var(--bs-white);
        background-color: (--bs-info);
        &:hover {
            @include actual()
        }
    }
    .actual {
        @include actual()
    }
    span {
        color: white;
    }
    a {
        &:hover {
            color: white;
        }
    }
    ul {
        li {
            list-style: none;
            margin-left: 0.2rem;
            margin-right: 0.2rem;
        }
        @include media-breakpoint-down(sm) {
            // --bs-gutter-x: 0;
            li {
                --bs-gutter-x: 0;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
    h1 {
        @include little-phone {
            margin-top: 1rem;
        }
    }
}