header {
    background-color: var(--bs-blue);
    .bear {
        border-radius: 50%;
        object-fit: contain;
    }
    .btn:hover {
        color: var(--bs-info);
        background-color: var(--bs-white);
    }
}