header {
    background-color: var(--bs-blue);
    .bear {
        border-radius: 50%;
        object-fit: contain;
    }
    .bear-link {
        @include little-phone {
            display: none;
        }
    }
    .btn {
        color: var(--bs-white);
        background-color: (--bs-info);
        &:hover {
            color: var(--bs-info);
            background-color: var(--bs-white);
        }
    }
    span {
        color: white;
    }
}