*::first-letter {
    text-transform: capitalize;
}
body {
    height: 100%;
    background-color: var(--bs-gray-dark);
    position: relative;
    a {
        nav {
            text-decoration: none;
            font-style: italic;
        }
    }
    .btn {
        border-radius: 5px;
        &.register, 
        &.research,
        &.change {
            background-color: var(--bs-blue);
        }
    }
    .add-button {
        font-style: italic;
        color: var(--bs-blue);
        background-color: #fff;
        &:hover {
            color: white;
            background-color: var(--bs-blue);
        }
    }
    #root {
        height: 100%;
    }
}