body {
    background-color: var(--bs-gray-dark);
    position: relative;
    a {
        text-decoration: none;
        font-style: italic;
    }
    .btn {
        border-radius: 5px;
        &.register, 
        &.research,
        &.change {
            background-color: var(--bs-blue);
        }
    }
}