.table {
    // remove box-shadow 
    &> :not(caption) > * > * {
        box-shadow: none;
    }
    thead {
        th {
            background-color: var(--bs-gray-dark);
            color: white;
        }
    }
    
    tbody {
        background-color: #fff;
        color: var(--bs-gray-dark);
        // break word if too long
        td {
            word-break: break-all;
        }
    }
  }

.far {
    color: var(--bs-gray-dark);
    &::before {
        display: inline-block;
        padding: 12px;
    }
    &:hover {
        background-color: var(--bs-gray-dark);
        color: white;
    }
}

.addUserButton {
    font-style: italic;
    color: var(--bs-blue);
    background-color: #fff;
    &:hover {
        color: white;
        background-color: var(--bs-blue);
    }
}

.userResearch {
    background-color: var(--bs-blue);
    color: white;
}