.table > :not(caption) > * > * {
    box-shadow: none;
  }
  
thead {
    th {
        background-color: var(--bs-gray-dark);
        color: white;
    }
}

tbody {
    background-color: #fff;
    color: var(--bs-gray-dark);
    // td, th {
    //     vertical-align: middle;
    // }
}

.far {
    color: var(--bs-gray-dark);
    &::before {
        display: inline-block;
        padding: 12px;
    }
    &:hover {
        background-color: var(--bs-gray-dark);
        color: white;
    }
}