{% extends "layouts/base.html.twig" %}

{% block title %} acces refuse {% endblock %}

{% block body %}
<div class="errorPage">
    <h1 class="my-5">Accés refusé: vous devez être administrateur du site pour effectuer cette action!</h1>
</div>
{% endblock %}